.content_dashbord_flex {
    display: flex;
    justify-content: space-between;

    gap: 20px;
    margin-top: 30px;
}

.char_1 {
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}



.zindex {
    z-index: 111111;
}